
@{
    ViewBag.Title = "Larkyo WebAPI";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Larkyo WebAPI</h2>
        <p>
            This is the homepage of the Web API backend for Larkyo.
        </p>
    </div>
</div>


